<h3>Hey! You have to log in before using NodeHero :/</h3>

<form action="/login" method="post">
  <input name="username" id="username" type="text" placeholder="Your username" />
  <input name="password" id="password" type="password" placeholder="Your password"/>
  <input type="submit" />
</form>
